.background-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ffffff; /* White background */
  text-align: center;
}

.content-box {
  padding: 40px;
  border-radius: 25px;
  border: 5px solid #b0e0e6; /* Blue border */
  background-color: #ffffff; /* White background */
  text-align: center;
  color: #000000; /* Black text */
}
