.navbar {
    background-color: #FFFFFF !important; /* Adding !important to override default styles */
  }
  
  .navbar .navbar-title {
    flex-grow: 1;
    color: black;
  }
  
  @media (max-width: 600px) {
    .navbar .navbar-title {
      font-size: 1.2rem;
    }
  
    .navbar .MuiButton-root {
      font-size: 0.8rem;
    }
  }
  