.dialog-title {
    font-weight: bold; /* Slightly less bold for a cleaner look */
    letter-spacing: 0.5px; /* Added some spacing between letters */
    color: #333; /* A darker shade for more contrast */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    height: 45px;
    position: relative;
    text-transform: capitalize; /* Capitalize the first letter of each word */
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

.close-icon {
    color: #808080;
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.5rem; /* Matching the icon size with the text */
}

.dialog-content {
    padding: 24px;
    background-color: #f4f6f8;
}
.input-field {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%; /* Ensure the input field takes up full width */
}

.select-field {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    margin-top: 8px; /* Ensure consistent spacing between fields */
}

.customer-list-box {
    max-height: 150px;
    overflow-y: auto;
    margin-top: 8px;
    padding: 8px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.customer-list-box::-webkit-scrollbar {
    width: 8px;
}

.customer-list-box::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 8px;
}

.remove-button-container {
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100%; 
}

.add-service {
    cursor: pointer;
    text-decoration: underline;
    color: #1976d2;
    display: flex;
    align-items: center;
    gap: 4px;
    margin-top: 16px;
}

.add-service:hover {
    color: #115293;
}

.alert {
    margin-top: 16px;
}

.dialog-actions {
    justify-content: space-between;
    padding: 16px 24px;
}

.action-button {
    width: 120px;
    height: 40px;
    font-size: 0.875rem;
    font-weight: bold;
    border-radius: 8px;
}

.close-button {
    background-color: #6c757d;
    color: #fff;
}

.close-button:hover {
    background-color: #5a6268;
}

.clear-button {
    background-color: #007bff;
    color: #fff;
}

.clear-button:hover {
    background-color: #0056b3;
}

.add-button {
    width: 150px;
    background-color: #28a745;
    color: #fff;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.add-button:hover {
    background-color: #218838;
}
