.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-header .MuiIconButton-root {
    margin-left: 8px;
}

.MuiDialogTitle-root {
  flex: 1;
  text-align: center;
  padding-left: 0;
}

.MuiDialogContent-root {
  padding: 24px;
}

.MuiDialogActions-root {
  display: flex;
  justify-content: space-between;
  padding: 16px 24px;
}

.modal-title {
  font-weight: bold; /* Slightly less bold for a cleaner look */
    letter-spacing: 0.5px; /* Added some spacing between letters */
    color: #333; /* A darker shade for more contrast */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    height: 45px;
    position: relative;
    text-transform: capitalize; /* Capitalize the first letter of each word */
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

.close-icon {
  color: #808080;
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.5rem; /* Matching the icon size with the text */
}

.modal-content {
  padding: 24px;
  background-color: #f4f6f8;
}

.bold-text {
  font-weight: bold;
}

.form-control {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.input-field {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  width: 100%; /* Ensure the input field takes up full width */
}

.remove-button-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.add-service {
  cursor: pointer;
  text-decoration: underline;
  color: #1976d2;
  display: flex;
  align-items: center;
  gap: 4px;
  margin-top: 16px;
}

.add-service:hover {
  color: #115293;
}

.action-button {
  width: 120px;
  height: 40px;
  font-size: 0.875rem;
  font-weight: bold;
  border-radius: 8px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.close-edit-button {
  background-color: #d32f2f;
  color: #fff;
}

.close-edit-button:hover {
  background-color: #9a0007;
}

.update-button {
  background-color: #1976d2;
  color: #fff;
}

.update-button:hover {
  background-color: #115293;
}

.icon-button {
  transition: color 0.2s ease;
}

.edit-icon {
  color: #1976d2;
}

.edit-icon:hover {
  color: #115293;
}

.delete-icon {
  color: #d32f2f;
}

.delete-icon:hover {
  color: #9a0007;
}

.modal-actions {
  justify-content: flex-end;
  padding: 16px 24px;
}

.confirm-button {
  background-color: #28a745;
  color: #fff;
}

.confirm-button:hover {
  background-color: #218838;
}
